html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


/* 解决elementUI表格线错位问题 */

body .el-table th.gutter {
    display: table-cell !important;
}

body .el-table colgroup.gutter {
    display: table-cell !important;
}


/* 表格中的字居中对齐 */

el-table-colum {
    text-align: center;
}


/* 滚动条的设置 */

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #445566
}

::webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #0D3550;
    border-radius: 5px
}

.el-table__fixed-right-patch {
    background: #232C35;
}